
//**********************le reset


//Reset css

.btn {
  width: fit-content;
  display: block;
}

//force styles : tous les ajustement en important sur bootstrap

.container-fluid {
  padding: 0 !important;;
}