
//**********************le reset
@import "variables";

//Reset css

//force styles : tous les ajustement en important sur bootstrap

.container-fluid {
  padding: 0 !important;;
}

.btn {
  width: fit-content;
  display: block;
}

