//********************Les variables
@import "../node_modules/bootstrap/scss/variables";
//colors

//Colors

//All variables in the $theme-colors map are defined as standalone variables. To modify an existing color in our $theme-colors map, add the following to your custom Sass file:

$white: #fff;
$black: #000;
$hell: #f2f2f2;
$primary: #2498d0 !important;


//Later on, these variables are set in Bootstrap’s $theme-colors map:
$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
);

$custom-colors: (
        "white": $white,
        "black": $black,
        "hell": $hell,
);


$theme-colors: map-merge($theme-colors, $custom-colors);

//btn color

.btn-primary {
  background: $primary;
  border-color: $primary;
  &:hover {
    background: $white !important;
    border-color: $primary;
    color: $primary;
  }
}

//background

.bg-hell {
  background: $hell;
}


//Sizing


//fonts


//autres

.bg-red {
  background: #d06969;
}

.bg-green {
  background: #c7dbd2;
}

.bg-yellow {
  background: #ffc720;
}

//************************Les mixins

@mixin fit-content {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}


@mixin flip-vertical {
  transform: scaleX(-1);
}

.flip-vertical {
  @include flip-vertical
}
